<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
	  <section class="f">
        <%= render 'shared/stats' %>
      </section>
      <section>
        <%= render 'shared/event_form' %>
      </section>
    </aside>
	<div class="span12" id='feed'>
      <h3>Event Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div class="center hero-unit">
    <h1>Schedule Share</h1>

    <h2>
      <a href="https://github.com/Jacky-ZHAO/ScheduleShare">Schedule Share Github Link</a>
      sample application.
    </h2>

    <%= link_to "Sign up now!", signup_path,
                                class: "btn btn-large btn-primary" %>
  </div>

<% end %>