<% provide(:title, "Sign in") %>
<div class="row">
   <div class="span4 offset1" id="signup">
    <h1 class="signupHeading">Sign in</h1><br><br>
        <%= form_tag sessions_path, :method => 'post' do %>
          <%= label_tag 'email', 'Email' , class:"label"%><br>
          <%= text_field_tag :email, params[:email], :placeholder => "example@email.com" %><br>
          <%= label_tag 'password', 'Password', class:"label" %><br>
          <%= password_field_tag :password %>
          <br><br>
          <%= submit_tag "Sign in", class: "button" %>
       <% end %>
       <p class="newUserLink">New user? <%= link_to "Sign up now!", signup_path %></p>
    </div>
</div>