<% provide(:title, 'All users') %>
<div style="margin-left:30px;margin-bottom:50px;">
<h1>All users</h1>
<%= will_paginate %>

<ul class="users">
  <% @users.each do |user| %>
    <li>
      <%= gravatar_for user, size: 52 %>
      <%= link_to user.name, user %>
      <span>
    	  <% if current_user.admin? && !current_user?(user) %>
    	    <%= link_to "delete", user, method: :delete,
    	                                  data: { confirm: "You sure?" } %>
    	  <% end %>
      </span>
    </li>
  <% end %>
</ul>

<%= will_paginate %>
</div>