<% provide(:title, 'Sign up') %>
<div class="row">
  <div class="span4 offset1" id="signup">
    <h1 class="signupHeading">Sign up</h1><br><br>
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>
      <%= f.label :name, class:"label" %><br>
      <%= f.text_field :name , placeholder: "Your Full Name"%><br>

      <%= f.label :email, class:"label" %><br>
      <%= f.text_field :email, placeholder: "Valid Email Address" %><br>

      <%= f.label :password, class:"label" %><br>
      <%= f.password_field :password, placeholder:"Secure Password" %><br>

      <%= f.label :password_confirmation, "Confirmation", class:"label" %><br>
      <%= f.password_field :password_confirmation, placeholder:"Repeat Your Password" %>
      <br><br>
      <%= f.submit "GO", class: "button" %>
    <% end %>
  </div>
</div>