<% provide(:title, 'Sign up') %>

<<<<<<< HEAD
<div class="row">
  <div class="span6 offset3" id = "signup">
=======
<div class="row" >
  <div class="span4 offset1" id = 'signup'>
  <h1 class="signupHeading">Sign up</h1><br>
>>>>>>> cb7ff8087def41a4c79cb3bdbe1dd49398c0281c
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= f.label :name, class:"label" %><br>
      <%= f.text_field :name , placeholder: "Your Full Name"%><span>*</span><br>

      <%= f.label :email, class:"label" %><br>
      <%= f.text_field :email, placeholder: "Valid Email Address" %><span>*</span><br>
	 
	  <%= f.label :address, class:"label" %><br>
      <%= f.text_field :address, placeholder: "Valid Address" %><br>
	  
	  <%= f.label :birthday, class:"label" %><br>
      <%= f.text_field :birthday, placeholder: "YYYY-MM-DD" %><br>

      <%= f.label :password, class:"label" %><br>
      <%= f.password_field :password, placeholder:"Secure Password" %><span>*</span><br>

      <%= f.label :password_confirmation, "Confirmation", class:"label" %><br>
      <%= f.password_field :password_confirmation, placeholder:"Repeat Your Password" %><span>*</span>
      <br>
      <span style="font-size:0.8em;font-style:italic;">(*): Required Field</span>
      <br>
      <%= f.submit "GO", class: "button" %>
    <% end %>
  </div>
</div>