<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span3" id="show">
    <section>
      <h1 class="gravatar">
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      <div>
        <table class="profileTable">
          <tr><td>Email:</td></tr>
          <tr><td><%= @user.email %></td></tr>
          <tr><td>Birthday:</td></tr>
          <tr><td><%= @user.birthday %></td></tr>
          <tr><td>Address:</td></tr>
          <tr><td><%= @user.address %></td></tr>
        </table>
      </div>
    </section>
  </aside>
  <div id='eventView'><span id='eventView1'>Event Title</span>
  <br><br><span id='eventView2'>Description</span></div>
  <div class="span12 offset4">
    <% if @user.events.any? %>
      <h3>Events (<%= @user.events.count %>)</h3>
      
      <table id='schedule'>
        <thead>
          <tr>
            <td></td>
            <td>Monday</td>
            <td>Tuesday</td>
            <td>Wednesday</td>
            <td>Thursday</td>
            <td>Friday</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td rowspan="2">0 AM</td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
          </tr>
          <tr>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
          </tr>
          <tr>
            <td rowspan="2">1 AM</td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
          </tr>
          <tr>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
          </tr>
          <tr>
            <td rowspan="2">2 AM</td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
          </tr>
          <tr>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
          </tr>
          <tr>
            <td rowspan="2">3 AM</td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
          </tr>
          <tr>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
          </tr>
          <tr>
            <td rowspan="2">4 AM</td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
          </tr>
          <tr>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
          </tr>
          <tr>
            <td rowspan="2">5 AM</td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
          </tr>
          <tr>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
          </tr>
          <tr>
            <td rowspan="2">6 AM</td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
          </tr>
          <tr>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
          </tr>
          <tr>
            <td rowspan="2">7 AM</td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
          </tr>
          <tr>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
          </tr>
          <tr>
            <td rowspan="2">8 AM</td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
          </tr>
          <tr>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
          </tr>
          <tr>
            <td rowspan="2">9 AM</td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
          </tr>
          <tr>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
          </tr>
          <tr>
            <td rowspan="2">10 AM</td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
          </tr>
          <tr>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
          </tr>
          <tr>
            <td rowspan="2">11 AM</td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
          </tr>
          <tr>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
          </tr>
          <tr>
            <td rowspan="2">12 PM</td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
          </tr>
          <tr>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
          </tr>
          <tr>
            <td rowspan="2">1 PM</td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
          </tr>
          <tr>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
          </tr>
          <tr>
            <td rowspan="2">2 PM</td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
          </tr>
          <tr>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
          </tr>
          <tr>
            <td rowspan="2">3 PM</td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
          </tr>
          <tr>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
          </tr>
          <tr>
            <td rowspan="2">4 PM</td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
          </tr>
          <tr>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
          </tr>
          <tr>
            <td rowspan="2">5 PM</td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
          </tr>
          <tr>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
          </tr>
          <tr>
            <td rowspan="2">6 PM</td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
          </tr>
          <tr>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
          </tr>
          <tr>
            <td rowspan="2">7 PM</td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
          </tr>
          <tr>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
          </tr>
          <tr>
            <td rowspan="2">8 PM</td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
          </tr>
          <tr>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
          </tr>
          <tr>
            <td rowspan="2">9 PM</td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
          </tr>
          <tr>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
          </tr>
          <tr>
            <td rowspan="2">10 PM</td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
          </tr>
          <tr>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
          </tr>
          <tr>
            <td rowspan="2">11 PM</td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
          </tr>
          <tr>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
          </tr>  
        </tbody>
      </table>

      <script type = 'text/javascript'>
        function addEvents(){
          var schedule = document.getElementById('schedule');
          var eventsNumber = '<%= @user.events.count %>';
          var events = '<%= @user.events.to_json %>';
          var titles = [];
          var description = [];
          for (var a = 0, m = 0; a<events.length; a++){
            if (events.substring(a,a+11) == 'description'){
              for (var b = a+15; events.substring(b+4,b+10) != 'people';b++);
              description[m] = events.substring(a+24,b-9);
            }
            if (events.substring(a,a+5) == 'title'){
              for (var c = a+9; events.substring(c,c+7) != 'created';c++);
              titles[m] = events.substring(a+18,c-13);
              m++;
            }
          }
          var cells = schedule.getElementsByTagName('div');
          var view1 = document.getElementById('eventView1');
          var view2 = document.getElementById('eventView2');
          for (var i = 0, j=0; i< cells.length; i++ ){
            if (cells[i].innerHTML === ''){
              if (!titles[j]) break;
              cells[i].innerHTML = titles[j];
              cells[i].onclick = (function(p){ return function() 
                {view1.innerHTML = titles[p];view2.innerHTML = description[p];};})(j);
              cells[i].onmouseover = (function(p){ return function() {this.innerHTML = description[p];};})(j);
              cells[i].onmouseout = (function(p) { return function() {this.innerHTML = titles[p];};})(j);
              j++;
            }
          }
        }
        addEvents();
      </script>
    <% end %>
  </div>
</div>


