<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span6 offset1" id="show">
    <section>
      <h1 class="gravatar">
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      <div>
        <table class="profileTable">
          <tr>
            <td>Email:</td>
            <td><%= @user.email %></td>
          </tr>
          <tr>
            <td>Birthday:</td>
            <td><%= @user.birthday %></td>
          </tr>
          <tr>
            <td>Address:</td>
            <td><%= @user.address %></td>
          </tr>
        </table>
      </div>
    </section>
  </aside>
  <div class="span8">
    <% if @user.events.any? %>
      <h3>Events (<%= @user.events.count %>)</h3>
      <ol class="events">
        <%= render @events %>
      </ol>
      <%= will_paginate @events %>
    <% end %>
  </div>
</div>