<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span3" id="show">
    <section>
      <h1 class="gravatar">
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      <div>
        <table class="profileTable">
          <tr><td>Email:</td></tr>
          <tr><td><%= @user.email %></td></tr>
          <tr><td>Birthday:</td></tr>
          <tr><td><%= @user.birthday %></td></tr>
          <tr><td>Address:</td></tr>
          <tr><td><%= @user.address %></td></tr>
        </table>
      </div>
    </section>
  </aside>
  <div id='eventView'><span id='eventView1'>Event Title</span>
  <br><br><span id='eventView2'>Description</span><br><br>
  <span id='eventView5'>Venue</span><br>
  <span id='eventView3'>Date</span><br>
  <span id='eventView4'>Time</span></div>
  <div class="span12 offset4">
    <div>
      <span id='currentWeek'></span>
      <script type="text/javascript">
      function currentWeek(){
        var date = new Date();
        var day = date.getDay();
        var d = date.getDate();
        var m = date.getMonth()+1;
        var dayName = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday'];
        document.getElementById('currentWeek').innerHTML = m+'.'+d+'&nbsp&nbsp&nbsp&nbsp&nbsp'+dayName[day];
      }
      currentWeek();
      </script>
    </div>
    <iframe id = 'map' width="600px" height="450px" frameborder="0" style="border:0"
      src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBjHYmSQtHGl9i7fobhYoU5oG1e0v5S8b8
        &q=Space Needle,Seattle WA">
    </iframe>
    <div id='mapClose' onclick="closeMap();">
      X
    </div>
    <% if @user.events.any? %>
      <h3>Events (<%= @user.events.count %>)</h3>
      
      <table id='schedule'>
        <thead>
          <tr>
            <td></td>
            <td>Monday</td>
            <td>Tuesday</td>
            <td>Wednesday</td>
            <td>Thursday</td>
            <td>Friday</td>
            <td>Saturday</td>
            <td>Sunday</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td rowspan="2">0 AM</td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
          </tr>
          <tr>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
          </tr>
          <tr>
            <td rowspan="2">1 AM</td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
          </tr>
          <tr>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
          </tr>
          <tr>
            <td rowspan="2">2 AM</td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
          </tr>
          <tr>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
          </tr>
          <tr>
            <td rowspan="2">3 AM</td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
          </tr>
          <tr>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
          </tr>
          <tr>
            <td rowspan="2">4 AM</td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
          </tr>
          <tr>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
          </tr>
          <tr>
            <td rowspan="2">5 AM</td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
          </tr>
          <tr>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
          </tr>
          <tr>
            <td rowspan="2">6 AM</td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
          </tr>
          <tr>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
          </tr>
          <tr>
            <td rowspan="2">7 AM</td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
          </tr>
          <tr>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
          </tr>
          <tr>
            <td rowspan="2">8 AM</td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
          </tr>
          <tr>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
          </tr>
          <tr>
            <td rowspan="2">9 AM</td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
          </tr>
          <tr>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
          </tr>
          <tr>
            <td rowspan="2">10 AM</td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
          </tr>
          <tr>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
          </tr>
          <tr>
            <td rowspan="2">11 AM</td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
          </tr>
          <tr>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
          </tr>
          <tr>
            <td rowspan="2">12 PM</td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
          </tr>
          <tr>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
          </tr>
          <tr>
            <td rowspan="2">1 PM</td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
          </tr>
          <tr>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
          </tr>
          <tr>
            <td rowspan="2">2 PM</td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
          </tr>
          <tr>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
          </tr>
          <tr>
            <td rowspan="2">3 PM</td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
          </tr>
          <tr>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
          </tr>
          <tr>
            <td rowspan="2">4 PM</td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
          </tr>
          <tr>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
          </tr>
          <tr>
            <td rowspan="2">5 PM</td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
          </tr>
          <tr>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
          </tr>
          <tr>
            <td rowspan="2">6 PM</td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
          </tr>
          <tr>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
          </tr>
          <tr>
            <td rowspan="2">7 PM</td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
          </tr>
          <tr>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
          </tr>
          <tr>
            <td rowspan="2">8 PM</td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
          </tr>
          <tr>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
          </tr>
          <tr>
            <td rowspan="2">9 PM</td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
          </tr>
          <tr>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
          </tr>
          <tr>
            <td rowspan="2">10 PM</td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
          </tr>
          <tr>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
          </tr>
          <tr>
            <td rowspan="2">11 PM</td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
          </tr>
          <tr>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
            <td><div></div></td>
          </tr>  
        </tbody>
      </table>

      <script type = 'text/javascript'>
        function closeMap(){
          document.getElementById('map').style.display = 'none';
          document.getElementById('mapClose').style.display = 'none';
        }

        function getCellNumber(date,time){
            var year = parseInt(date.substring(0,4));
            var month = parseInt(date.substring(5,7));
            var day = parseInt(date.substring(8,10));
            d = new Date(year,month-1,day);
            var n = d.getDay();
            if(n==0) n=7;
            var hour = time.substring(0,2);
            var minute = time.substring(3,5);
            var hourInt = parseInt(hour);
            if(parseInt(minute)>30) var minuteInt = 1;
            else var minuteInt = 0;
            return n-1+7*minuteInt+14*hourInt;
        }

        function addEvents(){
          var schedule = document.getElementById('schedule');
          var eventsNumber = '<%= @user.events.count %>';
          var events = '<%= @user.events.to_json %>';
          var titles = [];
          var description = [];
          var date =[];
          var time = [];
          var cellNumber = [];
          var day = [];
          var venue = [];
          for (var a = 0, m = 0; a<events.length; a++){
            if(events.substring(a,a+4) == 'time'){
              date[m] = events.substring(a+17,a+27);
              time[m] = events.substring(a+28,a+36);
              // venue[m] = events.substring(a+40,a+60);
            }
            if(events.substring(a,a+5) == 'venue'){
              for (var b=a+17;events.substring(b,b+11)!='description';b++)
              venue[m] = events.substring(a+18,b-12);
            }
            if (events.substring(a,a+11) == 'description'){
              for (var b = a+15; events.substring(b+4,b+10) != 'people';b++);
              description[m] = events.substring(a+24,b-9);
            }
            if (events.substring(a,a+5) == 'title'){
              for (var c = a+9; events.substring(c,c+7) != 'created';c++);
              titles[m] = events.substring(a+18,c-13);
              m++
            }
          }

          for (var n=0; n<titles.length; n++){
            cellNumber[n] = getCellNumber(date[n],time[n]);
          }

          var cells = schedule.getElementsByTagName('div');
          var view1 = document.getElementById('eventView1');
          var view2 = document.getElementById('eventView2');
          var view3 = document.getElementById('eventView3');
          var view4 = document.getElementById('eventView4');
          var view5 = document.getElementById('eventView5');
          var map = document.getElementById('map');
          var mapClose = document.getElementById('mapClose');
          var w = screen.width;
          var h = screen.height;

          for(var j=0;j<titles.length;j++){
            if (cells[cellNumber[j]].innerHTML === ''){
              cells[cellNumber[j]].innerHTML = titles[j];
              cells[cellNumber[j]].onclick = (function(p){ return function() 
                {view1.innerHTML = titles[p];
                 view2.innerHTML = description[p];
                 view3.innerHTML = date[p];
                 view4.innerHTML = time[p];
                 view5.innerHTML = venue[p];
                 map.src = "https://www.google.com/maps/embed/v1/place?key=AIzaSyBjHYmSQtHGl9i7fobhYoU5oG1e0v5S8b8&q="+venue[p];
                 if (window.event.clientX+600 > w) {
                  map.style.left =(w-630)+'px';
                  mapClose.style.left = (w-630-30)+'px';
                }
                 else {
                  map.style.left = window.event.clientX + 'px';
                  mapClose.style.left = (window.event.clientX - 30) + 'px';
                }
                 if (window.event.clientY+450 > h) {
                  map.style.top = (h-580) +'px';
                  mapClose.style.top = (h-580) +'px';
                }
                 else {
                  map.style.top = window.event.clientY +'px';
                  mapClose.style.top = window.event.clientY+ 'px';
                }
                 map.style.display = 'block';
                 mapClose.style.display = 'block';                 
               };
               })(j);
              cells[cellNumber[j]].onmouseover = (function(p){ return function() {this.innerHTML = description[p];};})(j);
              cells[cellNumber[j]].onmouseout = (function(p) { return function() {this.innerHTML = titles[p];};})(j);
            }
          }
        }
        addEvents();
      </script>
    <% end %>
  </div>
</div>


